@import './font.css';

* {
  font-family: 'Signika', sans-serif;
}

form {
  font-size: 1.1rem;
  color: #024766;
  display: flex;
  flex-flow: column;
  width: fit-content;
}

.select-title {
  margin: 0 0 5px 0;
}

select {
  width: 250px;
  border-radius: 5px;
}

.password-container {
  display: flex;
  flex-flow: column;
  margin: 15px 0 5px 0;
  /* display: none; */
}

.password-title {
  margin: 5px 0;
}

.password-input {
  width: 250px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #D4D4D4;
}

.password-input:focus{
  outline-width: 0;
  border-bottom: 1px solid #22D66E;
}

.submit {
  width: fit-content;
  padding: 5px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 15px 0 0 0;
  border: 1px solid #22D66E;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  transition: all .2s ease-in-out;
  align-self: flex-end;
}

.submit:hover {
  background: #22D66E;
  cursor: pointer;
  color: white;
}

.network-message {
  color: #024766;
  font-size: 1.2rem;
}